<!DOCTYPE html>
<html lang="en">
<%- include('../partial/head.ejs') %>
<body>
<div class="">
  <%- include('../partial/nav.ejs') %>
</div>

  <section class="container  section-container">
    <h2>welcome to my ejs home page</h2>
    <hr />
    <!-- to check for if there are no trainees available you use a 'if' and 'else' -->
    <% if(trainees.length){%>
      <% trainees.map((trainee)=>{%>
        <div class="section-mapped-data">
         <a href="/todos/specific/<%= trainee._id %>">
           <h1><%= trainee.name %></h1>
           <h4><%= trainee.profession %></h4>
         </a>
       </div>
      <% }) %>
      <% }else{ %>
        <h1>no trainees available</h1>
        <% } %>
    
  </section>
  <%- include('../partial/footer.ejs') %>
</body>
</html>